<div class="ui inverted vertical masthead center aligned segment zoomed">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu" style="border: none;">
            <a class="toc item"><i class="sidebar icon"></i></a>
            {% include menu_items.html %}
            <div class="right menu">
                <a class="item" href="{{ site.repository_url }}" target="_blank"><i class="github icon"></i>GitHub</a>
            </div>
        </div>
    </div>
    {% if page.active_key == 'home' %}
        {% include search.html %}
    {% else %}
        <div class="ui text container">
            {% if page.active_key == 'security' %}
                <h1 class="ui inverted header"><i class="laptop icon"></i>安全相关</h1>
                <h2>Hacking everything，Everything is hacking</h2>
            {% elsif page.active_key == 'tool' %}
                <h1 class="ui inverted header"><i class="configure icon"></i>实用工具</h1>
                <h2>工欲善其事，必先利其器</h2>
            {% elsif page.active_key == 'error' %}
                <h1 class="ui inverted header"><i class="frown icon"></i>Page Not Found</h1>
            {% endif %}
        </div>
    {% endif %}
</div>
